Options +ExecCGI
AddHandler cgi-script .rb .cgi
DirectoryIndex index.html index.rb

#AuthType Basic
#AuthName "Please, enter your ID and password"

#AuthUserFile /var/www/.htpasswd
#AuthGroupFile /dev/null

#AuthBasicProvider ldap
#AuthLDAPAuthoritative off
#AuthLDAPURL "ldap://167.198.200.131:389/dc=jasmcnt-ad,dc=ja-shimane,dc=gr,dc=jp?sAMAccountName?sub?(objectClass=*)"
#AuthLDAPURL "ldap://167.198.100.225:389/dc=jasmcnt-ad,dc=ja-shimane,dc=gr,dc=jp?sAMAccountName?sub?(objectClass=*)"

#Require valid-user

