* {
/*
	font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	line-height: 120%;
*/
	padding: 0px;
	margin: 0px;
	font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
	font-size: 12pt;
	color: #000;
}

body {
	background-color: #FFF;
	text-align: center;
}

a {
	text-decoration: none;
}

a:hover {
	color: #F00;
}

div {
	border: 0px solid #F00;
	text-align: left;
}

form * {
	margin: 5px;
	padding: 5px;
}

table.list {
	border-collapse: collapse;
	border: 0px solid #666;
	width: 100%;
}

table.list th {
	border: 0px solid #666;
	padding: 10px 0px;
	background-color: #DDD;
}

table.list td {
	border-top: 0px solid #666;
	padding: 10px 0px;
	line-height: 120%;
}

#page {
	border: 0px solid #F00;
	width: 90%;
	margin: 0px auto;
}

#head {
	background-color: #666;
	position: fixed;
	top: 0px;
	width: 100%;
}

#head #page {
	font-size: 24pt;
	color: #FFF;
	line-height: 100px;
	font-weight: bold;
}

#menu {
/*
*/
	background-color: #CCC;
	line-height: 50px;
	border-bottom: 1px solid #666;
	position: fixed;
	top: 0px;
	width: 100%;
}

#menu a {
	text-decoration: none;
	color: #000;
	margin: 0px 20px 0px 0px;
	padding: 5px;
}

#menu a:hover {
	color: #F00;
}

#cont {
/*
	background-color: #66F;
	overflow: auto;
	height: 500px;
*/
	margin-top: 50px;
	padding: 10px 0px;
}

#cont h1 {
	font-size: 18pt;
}

#foot {
/*

*/
	border-top: 1px solid #666;
	line-height:50px;
	background-color: #CCC;
}

#foot * {
	text-align: center;
	line-height: 50px;
}

#top {
/*
	height: 500px;
	margin: 0px auto;
*/
	border: 0px solid #000;
	padding: 0px 0px 10px;
	width: 100%;
	float: right;
}

#top .ja {
	font-size: 18pt;
	line-height: 120%;
	text-decoration: bold;
	color: #000;
	clear: both;
	padding: 10px;
}

#top .en {
	font-size: 12pt;
	color: #999;
	padding: 10px;
}

#top .name {
/*
	text-align: right;
*/
	font-size: 12pt;
	padding: 10px;
}

#top .description {
	font-size: 10pt;
	color: #666;
	padding: 0px 10px;
}

#top .years {
	font-size: 10pt;
	color: #666;
	padding: 0px 10px;
	font-family: sans-serif;
}

#top .cnt {
/*
	font-size: 12pt;
	color: #999;
*/
	padding: 10px 0px;
	float: right;
}

#top a * {
	color: #666;
/*
	text-decoration: none;
*/
}

#top a:hover {
	color: #F66;
}

#scale {
	display: none;
}