* {
/*
	font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	line-height: 120%;
*/
	padding: 0px;
	margin: 0px;
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Times New Roman", "游明朝", YuMincho, serif;
	font-size: 11pt;
	color: #000;
}

body {
	background-color: #FFF;
	text-align: center;
}

a {
	text-decoration: none;
}

a:hover {
	color: #F00;
}

div {
	border: 0px solid #F00;
	text-align: left;
}

form input, form textarea, from select {
	margin: 5px;
	padding: 5px;
}

table.list {
	border-collapse: collapse;
	border: 2px solid #666;
	width: 99%;
}

table.list th {
	border: 1px solid #666;
	padding: 5px 0px;
	background-color: #DDD;
}

table.list td {
	border: 1px solid #666;
	padding: 5px;
}

table.list img {
	padding-left: 3px;
}

table.list form input {
	padding: 0px;
	margin: 0px;
}

table.edit {
	border-collapse: collapse;
	border: 0px solid #666;
}

table.edit th {
	text-align: right;
	padding: 0px 5px;
	height: 45px;
}

table.edit td {
	padding: 0px 5px;
}

#menu {
/*
*/
	background-color: #CCC;
	line-height: 50px;
	border-bottom: 1px solid #666;
	position: fixed;
	top: 0px;
	width: 100%;
}

#menu a {
	text-decoration: none;
	color: #000;
	margin: 0px 0px 0px 20px;
	padding: 5px;
}

#menu a:hover {
	color: #F00;
}

#head {
/*
	margin-top: 50px;
*/
	padding: 10px;
	font-size: 18pt;
	font-weight: bold;
	background-color: #CCC;
	line-height: 50px;
	border-bottom: 1px solid #666;
	margin-bottom: 20px;
}

#nav {
/*
	height: 400px;
*/
	width: 27%;
	float: left;
	
	border: 0px solid #666;
	margin-left: 2px;
/*
	background-color: #FFF;
	
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	behavior: url(border-radius.htc);
*/
}

#nav div.title {
	padding: 10px 5px 0px;
	border-bottom: 0px solid #666;
	font-weight: bold;
}

#nav div {
/*
	padding: 5px 0px 5px 10px;
*/
	padding: 10px 5px 0px;
	border: 0px solid #FF0000;
}

#cont {
/*
	background-color: #66F;
	overflow: auto;
	height: 500px;
*/
	width: 72%;
	float: right;
}

#cont h1 {
	font-size: 18pt;
}

#login_message {
	color: #FF0000;
}